apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: dog-breed-api-hpa
  labels:
    app.kubernetes.io/name: dog-breed-api
    app.kubernetes.io/component: backend
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: dog-breed-api
  minReplicas: 1
  maxReplicas: 2
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 80
